.page {
  padding: 0 24px 0;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.page__title {
  font-family: $font-secondary;
  color: $color-white;
  font-weight: 400;
}
.page__title--large {
  font-size: 80px;
  line-height: 100px;
  margin-bottom: 16px;
}

.page__text {
  font-size: 15px;
  line-height: 25px;
}

@media (min-width: 768px) {
  .page__title--large {
    font-size: 150px;
    line-height: 150px;
  }
  .page__text {
    font-size: 16px;
    line-height: 28px;
  }
}
@media (min-width: 1024px) {
  .page__text {
    font-size: 18px;
  }
}
