.page {
  padding: 88px 24px 0;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.page__title {
  font-family: $font-secondary;
  color: $color-white;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 64px;
  font-size: 56px;
}
.page__title--large {
  font-size: 80px;
  line-height: 100px;
  margin-bottom: 16px;
}

.page__text {
  font-size: 15px;
  line-height: 25px;
  max-width: 500px;
  margin: 0 auto;
}
.page__info {
  color: $color-white;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  margin-bottom: 32px;
  span {
    margin-right: 18px;
    opacity: 0.25;
  }
}
@media (min-width: 768px) {
  .page {
    padding: 124px 38.5px;
    min-height: 100vh;
  }
  .page__title {
    font-size: 80px;
    line-height: 92px;
  }
  .page__title--large {
    font-size: 150px;
    line-height: 150px;
  }
  .page__text {
    font-size: 16px;
    line-height: 28px;
  }
  .page__info {
    text-align: left;
    margin-bottom: 60px;
  }
}
@media (min-width: 1024px) {
  .page__text {
    font-size: 18px;
    line-height: 32px;
  }
}
