.crew-page {
  padding-bottom: 79px;
  background-image: url("./../public/assets/crew/background-crew-mobile.jpg");
}
.crew__img {
  max-width: 327px;
  max-height: 223px;
  display: block;
  margin: 0 auto;
}
.crew-wrapper .divider {
  margin: 0 0 74px;
}

.crew-wrapper .subtitle {
  font-size: 16px;
  font-weight: 400;
  color: $color-white;
  font-family: $font-secondary;
  text-transform: uppercase;
  opacity: 0.25;
  mix-blend-mode: normal;
  margin-bottom: 8px;
}

.crew-wrapper .page__title--small {
  margin-bottom: 16px;
}
.crew-nav {
  position: absolute;
  top: 394px;
  left: 50%;
  transform: translateX(-50%);
  ul {
    display: flex;
    justify-content: space-between;
    width: 88px;
  }

  a {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    font-size: 0px;
    background-color: $color-white;
    opacity: 0.17;
  }
  a.active {
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .crew-page {
    padding-bottom: 0;
    min-height: 100vh;
    background-image: url("./../public/assets/crew/background-crew-tablet.jpg");
  }
  .crew-wrapper {
    display: flex;
    flex-direction: column;
  }
  .crew__text-wrapper {
    order: -1;
    margin: 0 auto 90px;
    width: 458px;
  }
  .crew-wrapper .subtitle {
    font-size: 24px;
    line-height: 28px;
  }
  .crew-nav {
    top: 442px;
  }
  .crew__img {
    max-width: 540px;
    max-height: 532px;
  }
  .crew-wrapper .divider {
    display: none;
  }
}
@media (min-width: 1440px) {
  .crew-page {
    background-image: url("./../public/assets/crew/background-crew-desktop.jpg");
    height: 100vh;
    
  }
  .crew-wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    // min-height: 640px;
    min-height: 100%;
  }
  .crew-wrapper .subtitle {
    font-size: 32px;
    line-height: 37px;
  }
  .crew__img {
    
    max-width: 615px;
    max-height: 712px;
    margin: 0;
    align-self: flex-end;
  }
  .crew__text-wrapper {
    margin: 0;
    width: 614px;
    .page__text {
      margin: 0;
      width: 444px;
      min-height: 162px;
    }
  }
  .crew-nav {
    left: 167px;
    top: auto;
    bottom: 94px;
    transform: translateX(0);
  }
}
