.destination__img {
  width: 170px;
  height: 170px;
  margin-bottom: 74px;
}

hr.divider {
  height: 1px;
  border-color: #383b4b;
  margin: 32px 0;
}

.stats {
  margin-top: 32px;
}
.stats__name {
  font-size: 14px;
  letter-spacing: 2.3625px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.stats__data {
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
  color: $color-white;
  font-family: $font-secondary;
}

@media (min-width: 768px) {
  .destination__img {
    width: 300px;
    height: 300px;
    margin-bottom: 119px;
  }
  .stats-wrapper {
    display: flex;
    justify-content: space-evenly;
  }
}
@media (min-width: 1440px) {
  .destination-wrapper {
    display: flex;
    justify-content: space-between;
    
  }
  .destination__img {
    width: 445px;
    height: 445px;
    margin-bottom: 0;
    // position: absolute;
    // left: 16vw;
  }
  .destination__text-wrapper {
    // position: absolute;
    width: 445px;
    text-align: left;
    // right: 11.4vw;
    // top: 381px;
  }
  .stats-wrapper {
    justify-content: flex-start;
    gap: 80px;
  }
}
