.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 0;
  width: 100%;
}
.nav__logo {
  height: 40px;
  width: 40px;
}
.nav__items {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 254px;
  right: -150%;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(40.7742px);
  font-size: 16px;
  text-transform: uppercase;
  flex-direction: column;
  padding: 118px 0 0 32px;
  display: none;
}
// .nav__items {
//   display: none;
// }
.nav__items.active {
  right: 0;
  z-index: 100;
  display: flex;
}
.nav__item {
  color: $color-white;
  text-decoration: none;
  margin-bottom: 32px;
  letter-spacing: 2.7px;
}
.nav__index {
  font-weight: bold;
  margin-right: 11px;
}
.nav__btn {
  background-color: transparent;
  border: none;
}
.nav__btn--close {
  position: absolute;
  top: 34px;
  right: 26.4px;
}
@media (min-width: 768px) {
  .nav {
    padding-top: 0;
    padding-right: 0;
  }
  .nav__logo {
    width: 48px;
    height: 48px;
  }
  .nav__items {
    position: static;
    height: auto;
    flex-direction: row;
    width: auto;
    padding: 0 48px;
  }
  .nav__item {
    margin: 0 37px 0 0;
    padding: 37px 0;
  }
  .nav__item.active {
    border-bottom: 3px solid $color-white;
  }
  .nav__btn--close,
  .nav__btn--hamburger,
  .nav__index {
    display: none;
  }
}
@media (min-width: 1440px) {
  .nav {
    margin-top: 40px;
  }
  .nav__index {
    display: inline-block;
  }
  .nav__items {
    padding: 0 165px 0 123px;
  }
  .nav__items::before {
    content: "";
    height: 1px;
    width: 32.8vw;
    background-color: $color-white;
    opacity: 0.25;
    position: absolute;
    top: 50%;
    left: -30vw;
  }
}
