.destination-page {
  background-image: url("./../public/assets/destination/background-destination-mobile.jpg");
  padding-bottom: 58px;
}
.destination-nav {
  position: absolute;
  top: 335px;
  width: 300px;
  padding: 0 69px;
  left: 50%;
  transform: translateX(-50%);
  ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  a {
    color: inherit;
    text-decoration: none;
    padding-bottom: 8px;
  }
  a.active {
    color: $color-white;
    border-bottom: 3px solid $color-white;
  }
}
@media (min-width: 768px) {
  .destination-page {
    background-image: url("./../public/assets/destination/background-destination-tablet.jpg");
    .destination-nav {
      top: 573px;
    }
  }
}
@media (min-width: 1440px) {
  .destination-page {
    background-image: url("./../public/assets/destination/background-destination-desktop.jpg");
    .destination-nav {
      top: 310px;
      left: 62.5vw;
      padding: 0;
    }
  }
}
@media (min-width: 1440px) {
  .destination-wrapper {
    max-width: 1047px;
    margin: 0 auto;
  }
}
